@model DataSetResponse
@{
    ViewData["Title"] = "Sort";
}

<span font-color=red>Sorting Algorithm Name: </span><font color="red">@Html.DisplayFor(model => model.Name)</font><br />
<span> Time in Ticks: </span><font color="red">@Html.DisplayFor(model => model.Time)</font><br /><br />